html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}
/* Login
 *
 ************************************************************************* */
.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000;
}
.login {
	background: url(../images/baseImages/login_backgroundBottom.jpg) 0 bottom no-repeat;
	min-height: 293px;
	width: 390px;
	position:absolute;
	top: 50%;
	left: 50%;
	margin-top: -146px;
	margin-left: -195px;
}
.login .language{
	float:right;
}
.login .buttons {
	padding: 5px 35px;
	text-align:right;
	margin: 0;
}
.login .head {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	padding: 0 20px;
	padding-top:80px;
	height: 30px;
	background: url(../images/baseImages/login_backgroundTop.jpg) 0 0 no-repeat;
}
.login .form_content {
	padding: 20px 30px;
}
.login .form_content h2 {
	color: #4d4d4d;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
}
.login .field {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px 0;
	text-align: left;
}
.login .field label {
	display: inline-block;
	width: 100px;
}
.login .field input {
	border: 1px solid #cccccc;
	font-size: 12px;
	padding: 5px;
	width: 180px;
	-moz-box-shadow: inset 0 4px 4px #eee;
	-webkit-box-shadow: inset 0 4px 4px #eee;
	box-shadow: inset 0 4px 4px #eee;
}

.login .field.error input,
.login .field.error select{
	border: 1px solid #F00;
}
.login .field.error .errorMsg{
	color:#CC0000;
	font-size: 11px;
	font-weight:bold;
	height:25px;
	line-height:14px;
	padding-left:110px;
}
.login .misc{
	padding: 10px 0;
}
.login .misc p{
	line-height: 20px;
	padding:5px;
	background:#ccc;
	border:1px solid #bbb;
	margin:0 15px;
	text-align:center;
}
.login  p.error{
	background:#EF7575;
	background: rgba(255, 70, 70, .5);
	color:#fff;
	line-height: 24px;
	font-size:16px;
	font-weight:bold;
	padding:4px 30px;
	text-align:center;
}
.login .misc a{
	color:#990000;
	padding:0 5px;
}
.buttons .button, .buttons input[type=button], .buttons input[type=submit], .buttons a.button {
	height: 25px;
	min-width: 100px;
	margin: 5px;
	border: none;
	color: white;
	background:url(../images/baseImages/buttonBG.png) 0 0 repeat-x;
	text-transform: uppercase;
	font-size: 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.buttons input[type=button], .buttons input[type=submit] {
	padding: 3px 25px;
	cursor: pointer;
}


/* General
 *
 ************************************************************************* */
html{
		height:100%;
}
body {
  background: #eeeeee;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #333333;
	background:#FFFFFF;
	background:url(../images/baseImages/metalBackground2.png) 0 0 repeat-y;
}

.middleSection {
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
	font-style:italic;
}

h1 {
  font-size: 16px;
	color: #4d4d4d;
}

h2 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: #cc0000;
  text-decoration: underline;
}
.buttons{
	text-align:right;
	padding:1px 20px
}

.buttons .button, .buttons input[type=button], .buttons input[type=submit], .buttons a.button {
  height: 25px;
  min-width: 100px;
  margin: 5px;
  border: none;
  color: white;
  background: url(../images/baseImages/buttonBG.png) 0 0 repeat-x;
  text-transform: uppercase;
  font-size: 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.buttons input[type=button], .buttons input[type=submit] {
  padding: 3px 25px;
  cursor: pointer;
}
.buttons a.button, .buttons a.button {
  display: inline-block;
  line-height: 25px;
  text-align: center;
}
.language{
	display: inline-block;
	width:100px;
	text-align: left;
	color:#FFF;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-style:normal;
	line-height: 20px;
	position: relative;
	padding:0 5px;
	background:#900;
	color:#fff;
}
.language a{
	width:100px;
	padding: 0 5px;
	color: #666;
	font-size:12px;
	text-decoration: none;
	font-style:normal;
	line-height: 20px;
	overflow: hidden;
/* 	white-space:nowrap; */
}
.language img{
	vertical-align: text-bottom;
	margin-right:4px;
}
.language a:hover{
	font-weight: bold;
}
.language .pickLanguage{
	display:none;
	position:absolute;
	left: 0;
	top:20px;
	background:#eee;
	width:110px;
}
.language:hover .pickLanguage{
	display:block;
}
.preloader{
	position:fixed;
	z-index: 10000000;
	top:0;
	left:50%;
	margin-left:-75px;
	width:150px;
	padding: 4px 0;
	background:#C00;
	border:2px solid #900;
	border-top: 0;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	line-height:18px;
	text-align:center;
	-moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
}
.loadingApp{
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -25px;
	margin-left: -90px;
	padding: 20px 40px;
	background:#ddd;
	border:5px solid #999;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
	text-align:center;
}
.loadingApp p{
	font-size:16px;
	font-style:italic;
	line-height:22px;
	font-weight:bold;
	color:#666666;
}
.loadingApp p img{
	vertical-align:middle;
}
/* Forms
 *
 ************************************************************************* */

.formItem {
  display: inline-block;
  padding: 7px 5px;
	margin-bottom:10px;
}
.formItem label {
  display: inline-block;
  width: 100%;
  line-height: 16px;
  font-weight: bold;
  color: #666666;
	padding-right: 10px;
}
.formItem input[type=text] {
  border: 1px solid #cccccc;
  font-size: 12px;
  padding: 6px;
  width: 95%;
	-moz-box-shadow: inset 0 4px 4px #eee;
	-webkit-box-shadow: inset 0 4px 4px #eee;
	box-shadow: inset 0 4px 4px #eee;
}
.formItem select {
  border: 1px solid #cccccc;
  font-size: 12px;
  height: 29px;
  padding: 5px;
  width: 97%;
	-moz-box-shadow: inset 0 4px 4px #eee;
	-webkit-box-shadow: inset 0 4px 4px #eee;
	box-shadow: inset 0 4px 4px #eee;
}
.formItem.error{
	position: relative;
}
.formItem.error input,
.formItem.error select{
	border: 1px solid #F00;
}
.formItem.error .errorMsg{
	color:#CC0000;
	font-size: 11px;
	font-weight:bold;
	position: absolute;
	left: 5px;
	bottom: -20px;
	height:25px;
	line-height:14px;
}
.filter .formItem.inlineInputs {
  width: auto;
  white-space: nowrap;
}
.formItem.inlineInputs label, .formItem.inlineInputs input, .formItem.inlineInputs select {
  width: auto;
}
.formItem.smallInputs {
  line-height: 30px;
  width: auto;
  white-space: nowrap;
}
.formItem.smallInputs label {
  width: auto;
  padding-right: 15px;
}
.buttons {
  text-align: right;
}
.form2Cols .formItem {
	margin-bottom:0px;
	display:block;
}
.form2Cols .formItem.error .errorMsg{
	position:static;
	display:inline-block;
	width:250px;
	height:auto;
	vertical-align:middle;
	padding-left:10px;
}
.form2Cols .formItem label {
  display: inline-block;
  width: 90px;
}
.form2Cols .formItem input[type=text] {
  width: 200px;
}
.form2Cols .formItem select {
  width: 214px;
}
.form2Cols .smallInputs{
	padding-left: 105px;
}
.form2Cols .smallInputs input{
	float: left;
}
.form2Cols .smallInputs label{
	margin-left: 25px;
	display:block;
	padding-bottom: 10px;
}

/* PopUp
 *
 ************************************************************************* */
.popUp {
	border: 1px solid #868686;
  margin: auto;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 30px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 30px;
	margin:auto;
}
.popUp .popUpHeader {
  position: relative;
  color: white;
  font-size: 14px;
  padding: 10px 35px 10px 14px;
  background: #cc0000;
	margin-top:4px;
}
.popUp .popUpHeader h1 {
  margin: 0;
	border: none;
	color:#FFFFFF;
	font-weight:normal;
	font-style:italic;
}
.popUp .popUpHeader .close {
  position: absolute;
  line-height: 40px;
  top: 0;
	font-size: 16px;
	font-weight: bold;
  right: 10px;
  color: white;
}
.popUp .popUpHeader .close:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.popUp .popUpBody {
  background: white;
  padding: 20px 30px;
  overflow: hidden;
  *zoom: 1;
}

 
/* Header
 *
 ************************************************************************* */
.header {
  min-width: 1000px;
  overflow: hidden;
  *zoom: 1;
	border-bottom:2px solid #cc0000;
	padding-top: 10px;
	background:url(../images/baseImages/metalBackground.png) 0 0 repeat;
}
.header .logo {
  float: left;
  margin: 6px 25px;
}
.header .userPanel {
  float: right;
  margin-right: 25px;
	text-align:right;
}
.header .userPanel .user{
	font-size:14px;
	line-height:20px;
	border-bottom: 1px solid #b6b6b6;
	padding-left:10px
}
.header .userPanel .time{
	padding-right: 0px;
	font-size:12px;
	font-style:italic;
}
.header .userPanel p {
	margin-bottom:5px;
}
.header .userPanel em{
	color:#CC0000;
	font-style: normal;
}
.header .userPanel a {
  margin-left: 10px;
  font-weight: bold;
  outline: none;
}
.pageHeader .language{
	clear: both;
	float: right;
	margin-left:10px;
	background:#fff;
	color:#666;
	display:inline-block;
}
.pageHeader .language a{
	margin:0;
}
.header .toolbar{
	line-height: 40px;
	background: #cc0000;
	color: #FFF;
	clear:both;
	padding: 0 20px;
	font-size:14px;
}
.header .toolbar .version{
	float:left;
	font-style:italic;
}
.header .toolbar .menu{
	text-align: right;
	margin-left:300px;
}
.header .toolbar .menu a{
	padding-left: 45px;
	display:inline-block;
	cursor: pointer;
}
.header .toolbar .menu a:hover{
	text-shadow:0 2px 2px #FFFFFF;
}
.header .toolbar .menu .user{	background:url(../images/icons/user.png) 10px center no-repeat;}
.header .toolbar .menu .user:hover{	background:url(../images/icons/user_light.png) 10px center no-repeat;}
.header .toolbar .menu .home{	background:url(../images/icons/home.png) 10px center no-repeat;}
.header .toolbar .menu .home:hover{	background:url(../images/icons/home_light.png) 10px center no-repeat;}
.header .toolbar .menu .about{	background:url(../images/icons/help.png) 10px center no-repeat;}
.header .toolbar .menu .about:hover{	background:url(../images/icons/help_light.png) 10px center no-repeat;}
.header .toolbar .menu .logoff{	background:url(../images/icons/logoff.png) 10px center no-repeat;}
.header .toolbar .menu .logoff:hover{	background:url(../images/icons/logoff_light.png) 10px center no-repeat;}

.header .toolbar .menu a:hover{
	color: #FFF;
	text-decoration: none;
}
/* Left Column
 *
 ************************************************************************* */
.leftColumn {
  width: 265px;
  padding: 20px;
  float: left;
}
h2{
	border: none;
	margin-bottom: 4px;
}
.menuBox {
/*   margin-bottom: 30px; */
	position:relative;
}
.menuBox .handler{
	background: url(../images/baseImages/menuHandler.png) 0 0 no-repeat;
	display: inline-block;
	position:absolute;
	left: -12px;
	top:3px;
	width:9px;
	height:9px;
	cursor: pointer;
}
.menuBox .handler.open{
	background: url(../images/baseImages/menuHandler.png) 0 -9px no-repeat;
	width:9px;
	height:9px;
}
.menuBox ul {
	background: url(../images/baseImages/line_shadow_menut.png) 0 0 repeat-x;
	padding-top: 5px;
	padding-bottom: 5px;
	margin:0 -15px;
}
.menuBox ul li a {
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 0 30px;
}
.menuBox ul li a:hover {
  color: white;
  background: #ccc;
  text-decoration: none;
}
.menuBox ul li .active {
  color: #cc0000;
  font-weight: bold;
}

/* Content
 *
 ************************************************************************* */
.content {
  margin-left: 300px;
  background: white;
  padding: 20px;
}
.content .notifications {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: -20px -20px 20px -20px;
}
.content .notifications .info {
  padding: 10px 10px 10px 60px;
  background: #90be80 url(../images/icons/msgInfo.png) 20px center no-repeat;
}
.content .notifications .warning {
  padding: 10px 10px 10px 60px;
  background: #e2e45f url(../images/icons/msgWarning.png) 20px center no-repeat;
}
.content .notifications .error {
  padding: 10px 10px 10px 60px;
  background: #ef7575 url(../images/icons/msgError.png) 20px center no-repeat;
}


/* Footer
 *
 ************************************************************************* */
 
 
/* Filter
 *
 ************************************************************************* */
.filter {
  padding: 20px;
	padding-bottom:20px;
	background:url(../images/baseImages/line_shadow_content.png) 0 bottom repeat-x;
}
.filter .formItem {
  width: 240px;
}

/* Table
 *
 ************************************************************************* */
table {
  width: 100%;
}
table .actions {
  text-align: right;
}
table .actions a {
  padding: 0 0.5em;
  font-weight: bold;
}
table .actions a:hover {
  color: #dddddd;
}
table thead td {
  padding: 10px 4px;
  background: #cc0000;
  font-weight: bold;
  font-size: 14px;
	text-transform: uppercase;
	color: #FFF;
}
table thead td .sort{
	display: inline-block;
	font-size: 0;
	width: 13px;
	height: 15px;
	vertical-align:middle;
	cursor: pointer;
}
table thead td .sort.down{ background:url(../images/icons/tableSort.png) 0 0 no-repeat;}
table thead td .sort.up{ background:url(../images/icons/tableSort.png) -13px 0 no-repeat;}
table thead td .sort.none{ background:url(../images/icons/tableSort.png) -26px 0 no-repeat;}
table thead td .sort.disabled{ background:url(../images/icons/tableSort.png) -39px 0 no-repeat;}
table thead td:first-child {
  padding-left: 20px;
}
table thead td:first-child {
  padding-left: 20px;
}
table thead td:last-child {
  padding-right: 20px;
}
table tbody tr:hover td {
  background: #666;
  color: white;
}
table tbody td {
  border-bottom: 1px solid #eeeeee;
  padding: 2px 4px;
}
/*
table tbody td:first-child {
  padding-left: 20px;
}
*/
table tbody td:last-child {
  padding-right: 20px;
}
table tbody .odd {
  background: #fafafa;
}

.pagination {
  text-align: left;
  padding: 4px 10px;
  border-top: 3px solid #cc0000;
  background: #eeeeee;
  margin-bottom: 20px;
}
.pagination a {
	font-size: 0;
	text-indent: 5000000px;
	display:inline-block;
	vertical-align:middle;
	width: 20px;
	height:20px;
	cursor: pointer;
	margin: 0 2px;
}
.pagination .first{ background:url(../images/icons/paginatorArrows.png) 0 0 no-repeat;}
.pagination .prev{ background:url(../images/icons/paginatorArrows.png) -20px 0 no-repeat;}
.pagination .next{ background:url(../images/icons/paginatorArrows.png) -40px 0 no-repeat;}
.pagination .last{ background:url(../images/icons/paginatorArrows.png) -60px 0 no-repeat;}
.pagination .first:hover{ background:url(../images/icons/paginatorArrows.png) 0 -20px no-repeat;}
.pagination .prev:hover{ background:url(../images/icons/paginatorArrows.png) -20px -20px no-repeat;}
.pagination .next:hover{ background:url(../images/icons/paginatorArrows.png) -40px -20px no-repeat;}
.pagination .last:hover{ background:url(../images/icons/paginatorArrows.png) -60px -20px no-repeat;}
.pagination input{
	width:30px;
	text-align:center;
}
/* crud
 *
 ************************************************************************* */
.crudForm{
	padding: 20px 60px;
}

/* Instances
 * a partir de aca van todas las clases expecificas del desarrollo, desde aca se sobre escriben o extienden los estilos generidos de arriba
 ************************************************************************* */



.popUp.conForm2Cols{
	width: 400px;
	margin-top: 40px;
}
.popUp.conForm2Cols .buttons{
	padding-right: 13px;
}

/* Agregado por Maxi. Pedir a Bato que los agregue formal y bien
 ************************************************************************* */


.table-selected-tr {
  background: #CC0000;
  color: white;
}

.formItem input[type=password] {
  border: 1px solid #cccccc;
  font-size: 12px;
  padding: 6px;
  width: 95%;
	-moz-box-shadow: inset 0 4px 4px #eee;
	-webkit-box-shadow: inset 0 4px 4px #eee;
	box-shadow: inset 0 4px 4px #eee;
}


.form2Cols .formItem input[type=password] {
  width: 200px;
}

.fieldError {
  width: 100%;
  line-height: 16px;
  font-weight: bold;
  color: #CC0000;
  padding-left: 5px;
}

.form2Cols .formItem div {
  width: 200px;
  display: inline-block;
  padding-left: 5px;
}

.required {
	border: 2px solid #d58586 !important;
}

