<script src='/javascript/imagecrop.min.js'></script>
<script src='/javascript/crud.js'></script>
<script src='/javascript/products.js'></script>
<section class="page-container clear-fix">
	{{#def.load('admin_menu.html')}}
	<section class="main-content">
		<input type='hidden' name='_csrf' value='{{=it.csrfToken}}'>

		<input type="hidden" name="picture_type" id="picture_type" />
		<input type="hidden" name="picture_data" id="picture_data" />		
		
		<h1>Gestión de Productos</h1>
		<input type='text' name='search' placeholder='Ingrese búsqueda' value='{{=it.search}}'>
		<input type='button' id='addProduct' value='Agregar Producto' ></input>
		<br/>
		<table id='productsTable' summary='/admin/products'>
			<tr>
				<th><h4>Descripción</h4></th>
				<th><h4>Url</h4></th>
				<th><h4>Categoría</h4></th>
				<th><h4>Packaging</h4></th>
				<th><h4></h4></th>
				<th><h4></h4></th>
			</tr>
			{{~ it.products:product}}
			<tr name='{{=product.id}}'>
				<td name='description' style='width: 500px;'><span>{{=product.description}}</span></td>
				<td name='url' style='width: 500px;'><span>{{=product.url}}</span></td>
				<td name='category_id' style='width: 500px;'>
					<select>
						{{~ it.categories:category}}
							{{? category.id === product.category_id}}
								<option value="{{=category.id}}" selected="selected">{{=category.name}}</option>
							{{??}}
								<option value="{{=category.id}}">{{=category.name}}</option>
							{{?}}
						{{~}}
					</select> 				
				<td name='packaging_id' style='width: 500px;'>
					<select>
						{{~ it.packaging:packaging}}
							{{? packaging.id === product.packaging_id}}
								<option value="{{=packaging.id}}" selected="selected">{{=packaging.name}}</option>
							{{??}}
								<option value="{{=packaging.id}}">{{=packaging.name}}</option>
							{{?}}
						{{~}}
					</select> 				
				</td>
				<td name='show_format' style="width:290px;">
					{{? product.show_format === true}}
						<input type='checkbox' name='formatscheck1' checked='checked'>&nbsp;Formatos?</input>
					{{??}}
						<input type='checkbox' name='formatscheck1'>&nbsp;Formatos?</input>
					{{?}}
				</td>
				<td name='show_picture' style="width:290px;">
					<input type='checkbox' id='showpicture_{{=product.id}}' name='showpicturebutton'>&nbsp;Imagen?</input>
				</td>
				<td><input name='remove' type='button' value='Borrar'></input></td>
			</tr>
			{{? product.show_format === true}}
			<tr name='{{=product.id}}_format'>
			{{??}}
			<tr name='{{=product.id}}_format' style='display:none;'>
			{{?}}
				<td colspan="4">
					<br/>
					<input type='button' id='addProductFormat' name='{{=product.id}}' value='Agregar Formato' ></input>
					<br/>
					<table id='productsFormatsTable' summary='/admin/productsformats'>
						<tr>
							<th><h4>Formato</h4></th>
							<th><h4>Unidades</h4></th>
							<th><h4>Cantidad</h4></th>
							<th><h4>Precio Por Menor</h4></th>
							<th><h4>Precio Por Mayor</h4></th>
							<th><h4></h4></th>
						</tr>
						{{~ product.productsformats:productformat}}
						<tr name='{{=productformat.id}}'>
							<td name='format' style='width: 500px;'><span>{{=productformat.format}}</span></td>
							<td name='units' style='width: 500px;'><span>{{=productformat.units}}</span></td>
							<td name='quantity' style='width: 500px;'><span>{{=productformat.quantity}}</span></td>
							<td name='retail' style='width: 500px;'><span>{{=productformat.retail}}</span></td>
							<td name='wholesale' style='width: 500px;'><span>{{=productformat.wholesale}}</span></td>
							<td><input name='remove' type='button' value='Borrar'></input></td>
						</tr>
						{{~}}
					</table>
				</td>
			</tr>
			<tr name='{{=product.id}}_picture' style='display:none;'>
				<td colspan="4">
					<div class="upload-photo-container"> 
						<div class="imageBox">
							<div class="thumbBox"></div>
							<div class="spinner" style="display: none">Cargando...</div>
						</div>
						<div class="action clear-fix">
							<span class="upload-btn"><span class="upload-label">Subir foto</span><input type="file" id="picture" accept="image/*"></span>
							<input type="button" class="crop-btn" id="btnCrop" value="Crop" style="float: right;display:none">
							<input type="button" class="zoom-in-btn" id="btnZoomIn" value="+" style="float: right;display:none">
							<input type="button" class="zoom-out-btn" id="btnZoomOut" value="-" style="float: right;display:none">
							<button type="button" id="savepicture" name="{{=product.id}}" style="display:none">Grabar foto</button>
						</div>
						<div class="cropped" style="display:none"></div>
					</div>				
				</td>
			</tr>
			{{~}}
		</table>		
		
		
	</section>
</section>