<script src='{{=it.app_resources}}/javascript/posters.js'></script>
<section class="page-container clear-fix">
	{{#def.load('admin_menu.html')}}
	
	<section class="main-content">
		<input type='hidden' name='_csrf' value='{{=it.csrfToken}}'>
		<h1>Gestión de Carteles</h1>
		<a href="/admin/posters/add">Agregar Cartel</a>
		<br/>
		<table summary='/admin/posters'>
			<thead>
				<tr>
					<th><h4>Id</h4></th>
					<th><h4>Posición</h4></th>
					<th><h4>Origen</h4></th>
					<th><h4></h4></th>
				</tr>
			</thead>
			{{~ it.posters:poster}}
				<tr name='{{=poster.id}}'>
					<td name='id' style='width: 50px;'>{{=poster.id}}</td>
					<td name='position' style='width: 50px;'>{{=poster.position}}</td>
					<td name='position' style='width: 250px;'>{{=poster.origin}}</td>
					<td><input name='remove' type='button' value='Borrar'></input></td>
				</tr>
			{{~}}
			
		</table>
	</section>
</section>
