<section class="page-container clear-fix">
	{{#def.load('admin_menu.html')}}
	
	<section class="main-content">
		<input type='hidden' name='_csrf' value='{{=it.csrfToken}}'>
		<h1>Gestión de Carteles</h1>
		<a href="/admin/banners/add">Agregar Cartel</a>
		<br/>
		<table summary='/admin/banners'>
			<thead>
				<tr>
					<th><h4>Id</h4></th>
					<th><h4></h4></th>
				</tr>
			</thead>
			{{~ it.banners:banner}}
				<tr name='{{=banner.id}}'>
					<td name='id' style='width: 50px;'>{{=banner.id}}</td>
					<td><a href="/admin/banners/edit/{{=banner.id}}">Editar</a></td>
					<td><input name='remove' type='button' value='Borrar'></input></td>
				</tr>
			{{~}}
			
		</table>
	</section>
</section>
