<script src='/javascript/crud.js'></script>
<script src='/javascript/products.js'></script>
<div class='middleSection'>
	{{#def.load('./app/views/admin_menu.html')}}
	<div class='content'>
		<div id='notifications' class='notifications' style='display:none'>
			<div id='general_error' class='error'></div>
		</div>
		<input type='hidden' name='_csrf' value='{{=it.csrfToken}}'>
		<h1>Gestión de Productos</h1>
		<br/>
		<input type='text' name='search' placeholder='Ingrese búsqueda' value='{{=it.search}}'>
		<input type='button' id='addProduct' value='Agregar Producto' ></input>
		<br/>
		<br/>
		<br/>
		<table id='productsTable' summary='/admin/products'>
			<tr>
				<th style='text-align: left;'><h2>Descripción</h2></th>
				<th style='text-align: left;'><h2>Url</h2></th>
				<th style='text-align: left;'><h2>Categoría</h2></th>
				<th style='text-align: left;'><h2>Packaging</h2></th>
				<th style='text-align: left;'><h2></h2></th>
				<th style='text-align: left;'><h2></h2></th>
			</tr>
			{{~ it.products:product}}
			<tr name='{{=product.id}}'>
				<td name='description' style='text-align: left; width: 500px;'><span>{{=product.description}}</span></td>
				<td name='url' style='text-align: left; width: 500px;'><span>{{=product.url}}</span></td>
				<td name='category_id' style='text-align: left; width: 500px;'>
					<select>
						{{~ it.categories:category}}
							{{? category.id === product.category_id}}
								<option value="{{=category.id}}" selected="selected">{{=category.name}}</option>
							{{??}}
								<option value="{{=category.id}}">{{=category.name}}</option>
							{{?}}
						{{~}}
					</select> 				
				<td name='packaging_id' style='text-align: left; width: 500px;'>
					<select>
						{{~ it.packaging:packaging}}
							{{? packaging.id === product.packaging_id}}
								<option value="{{=packaging.id}}" selected="selected">{{=packaging.name}}</option>
							{{??}}
								<option value="{{=packaging.id}}">{{=packaging.name}}</option>
							{{?}}
						{{~}}
					</select> 				
				</td>
				<td name='show_format' style="width:290px;">
					{{? product.show_format === true}}
						<input type='checkbox' name='formatscheck1' checked='checked'>Ver formatos</input>
					{{??}}
						<input type='checkbox' name='formatscheck1'>Ver formatos</input>
					{{?}}
				</td>
				<td><input name='remove' type='button' value='Borrar'></input></td>
			</tr>
			{{? product.show_format === true}}
			<tr name='{{=product.id}}_format'>
			{{??}}
			<tr name='{{=product.id}}_format' style='display:none;'>
			{{?}}
			
			
				<td colspan="4">
					<br/>
					<input type='button' id='addProductFormat' name='{{=product.id}}' value='Agregar Formato' ></input>
					<br/>
					<br/>
					<br/>
					<table id='productsFormatsTable' summary='/admin/productsformats'>
						<tr>
							<th style='text-align: left;'><h3>Formato</h3></th>
							<th style='text-align: left;'><h3>Unidades</h3></th>
							<th style='text-align: left;'><h3>Cantidad</h3></th>
							<th style='text-align: left;'><h3>Precio Por Menor</h3></th>
							<th style='text-align: left;'><h3>Precio Por Mayor</h3></th>
							<th style='text-align: left;'><h2></h2></th>
						</tr>
						{{~ product.productsformats:productformat}}
						<tr name='{{=productformat.id}}'>
							<td name='format' style='text-align: left; width: 500px;'><span>{{=productformat.format}}</span></td>
							<td name='units' style='text-align: left; width: 500px;'><span>{{=productformat.units}}</span></td>
							<td name='quantity' style='text-align: left; width: 500px;'><span>{{=productformat.quantity}}</span></td>
							<td name='retail' style='text-align: left; width: 500px;'><span>{{=productformat.retail}}</span></td>
							<td name='wholesale' style='text-align: left; width: 500px;'><span>{{=productformat.wholesale}}</span></td>
							<td><input name='remove' type='button' value='Borrar'></input></td>
						</tr>
						{{~}}
					</table>
				</td>
			</tr>
			{{~}}
			
		</table>		
		
		
	</div>
</div>