<script src="/javascript/categories.js" ></script>
<div class="middleSection">
	{{#def.load('./app/views/admin_menu.html')}}
	<div class="content">
		<h1>Gestión de Categorías</h1>
		<br/>
		<table>
			<tr>
				<th style='text-align: left;'><h2>Id</h2></th>
				<th style='text-align: left;'><h2>Nombre</h2></th>
				<th style='text-align: left;'><h2>Url</h2></th>
			</tr>
			<tr><td></td></tr>
			{{~ it.categories:category}}
			<tr name='{{=category.id}}'>
				<td name='id' style='text-align: left;'>{{=category.id}}</td>
				<td name='name' style='text-align: left;'>{{=category.name}}</td>
				<td name='url' style='text-align: left;'>{{=category.url}}</td>
			</tr>
			{{~}}
			
		</table>
	</div>
</div>