<script src='{{=it.app_resources}}/javascript/imagecrop.min.js'></script>
<script src='{{=it.app_resources}}/javascript/crud.js'></script>
<script src='{{=it.app_resources}}/javascript/products.js'></script>

<section class="page-container clear-fix">
	{{#def.load('admin_menu.html')}}
	<section class="authentication-section">
		<div class="authentication-forms clear-fix">
			<h2 class="main-title">Gestión de Formatos de Producto</h2>
			<div class="new-customer" style="width: 658px; min-height: 490px;">
				<h3 class="form-header">Complete sus datos</h3>
				<input type='hidden' name='_csrf' value='{{=it.csrfToken}}'>
				<input type='hidden' name='id' value='{{=it.currentproduct.id}}'>
				
				<table id='productsFormatsTable' style="margin-top: 6px; margin-left: 6px;" summary='/admin/productsformats'>
					<tr style="height: 32px;">
						<th style="width: 225px;">Formato</th>
						<th style="padding-left: 10px;">Unidades</th>
						<th style="padding-left: 10px;">Cantidad</th>
						<th style="padding-left: 10px;">Prc.Minor.</th>
						<th style="padding-left: 10px;">Prc.Mayor.</th>
						<th style="padding-left: 10px;"></th>
						<th></th>
					</tr>
					{{~ it.currentproduct.productformats:productformat}}
						<tr name='{{=productformat.id}}'>
							<td name='format' style="text-align: left;"><label style="width:225px; background-color: lightgray;">{{=productformat.format}}</label></td>
							<td name='units'><label style="width:82px; background-color: lightgray;">{{=productformat.units}}</label></td>
							<td name='quantity'><label style="width:78px; background-color: lightgray;">{{=productformat.quantity}}</label></td>
							<td name='retail'><label style="width:90px; background-color: lightgray;">{{=productformat.retail}}</label></td>
							<td name='wholesale'><label style="width:90px; background-color: lightgray;">{{=productformat.wholesale}}</label></td>
							<td style="padding-left: 10px;"><input name='remove' type='button' value='Borrar'></td>
							
						</tr>
					{{~}}
				</table>

				<br/>
				<button class="form-btn" style="margin-right: 30px;" id="cancelProductFormat" name='{{=it.currentproduct.id}}'>Volver</button>
				<button class="form-btn" style="margin-right: 30px;" id="addProductFormat" name='{{=it.currentproduct.id}}'>Agregar</button>
			</div>
		</div>
	</section>


</section>