<script type="text/javascript" src='{{=it.app_resources}}/javascript/contact.js' ></script>

<!-- Google Code for Contacto Conversion Page -->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 941936957;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "5xSeCJy_8mUQvaKTwQM";
	var google_remarketing_only = false;
	/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/941936957/?label=5xSeCJy_8mUQvaKTwQM&amp;guid=ON&amp;script=0"/>
	</div>
</noscript>



<section class="page-container clear-fix">
	<section class="authentication-section">
		<div class="authentication-forms clear-fix">
			<h2 class="main-title">Contáctenos</h2>
			<div class="new-customer">
				<h3 class="form-header">Complete información de Contacto</h3>
				<p>Llene el formulario para que podamos ponernos en contacto con Usted</p>
				<form id="contact_form" method="post" action="/contact">
					<input type='hidden' name='_csrf' value='{{=it.csrfToken}}'>
					
					{{?!it.is_logged_in}}
						<label>Correo<span class="form-error" id="email_address_error"></span></label>
						<input type="text" class="customer-email" name="email_address">
						
						<label>Apellido<span class="form-error" id='last_name_error'></span></label>
						<input type="text" class="customer-email" name="last_name">
	
						<label>Nombre<span class="form-error" id='first_name_error'></span></label>
						<input type="text" class="customer-email" name="first_name">
					{{?}}
					
					<label>Su consulta<span class="form-error" id='comments_error'></span></label>
					<textarea class="cart-textarea" name="comments"></textarea>
					
					<button type="button" class="form-btn" name="send">Enviar</button>
				</form>
			</div>
		</div>
	</section>
</section>


