<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
<link type="text/css" rel="stylesheet" media="screen"
	href="stylesheets/styles.css" />
<title>Avaya</title>
</head>

<body>
	<div class="preloader">
		<img src="images/icons/ajax-loader.gif" alt="loading" /> Loading
	</div>
	<div class="preloader">
		<img src="images/icons/ajax-loader.gif" alt="loading" /> Loading
	</div>
	<div class="header">
		<div class="pageHeader">
			<div class="logo">
				<img src="images/baseImages/avayaLogo.png" alt="Avaya" />
			</div>
			<div class="userPanel">
				<p class="user">
					<span class="language"> <strong><img
							src="images/flags/spain.jpg" alt="spain" /> Spanish</strong> <span
						class="pickLanguage"> <a href="#"><img
								src="images/flags/spain.jpg" alt="spain" /> Spanish</a> <a href="#"><img
								src="images/flags/myanmar.jpg" alt="myanmar" /> Burmese</a>
					</span>
					</span> <span>Bienvenido, <em>Juan Admin Gomez</em>
					</span>
				</p>
				<p class="time">
					viernes 11 de mayo de 2012 - <strong>19:10</strong>
				</p>
			</div>
			<div class="toolbar">
				<div class="version">SIP Trace Analyzer - 1.0</div>
				<div class="menu">
					<a class="user" href="#">User</a> <a class="home" href="#">Home</a>
					<a class="about" href="#">About</a> <a class="logoff" href="#">Logoff</a>
				</div>
			</div>
		</div>
	</div>
	<div class="middleSection">
		<div class="leftColumn">
			<div class="menuBox">
				<span class="handler open"></span>
				<h2>Menu Box</h2>
				<ul>
					<li><a href="#">Option</a></li>
					<li><a class="active" href="#">Option</a></li>
					<li><a href="#">Option</a></li>
					<li><a href="#">Option</a></li>
					<li><a href="#">Option</a></li>
					<li><a href="#">Option</a></li>
				</ul>
			</div>
			<div class="menuBox">
				<span class="handler"></span>
				<h2>Menu Box</h2>
				<ul style="display: none;">
					<li><a href="#">Option</a></li>
					<li><a class="active" href="#">Option</a></li>
					<li><a href="#">Option</a></li>
					<li><a href="#">Option</a></li>
					<li><a href="#">Option</a></li>
					<li><a href="#">Option</a></li>
				</ul>
			</div>
		</div>

		<div class="content">
			<div class="notifications">
				<div class="info">Info Message</div>
				<div class="warning">Warning Message</div>
				<div class="error">Error Message</div>
			</div>
			<h1>Global Settings</h1>
			<form>
				<div class="crudForm">
					<div class="form2Cols">
						<span class="formItem error"> 
							<label>Label</label> 
							<input type="text" value="text" /> 
							<span class="errorMsg">Este campo tiene un error</span>
						</span> 
						<span class="formItem"> 
							<label>Label</label> 
							<select>
								<option>Day</option>
								<option>item1</option>
							</select>
						</span> 
						<span class="formItem smallInputs"> 
							<input type="checkbox" />
							<label>Label</label> 
							<input type="radio" /> 
							<label>Label</label>
						</span>
					</div>
				</div>
				<div class="buttons">
					<input type="submit" value="Save Changes" />
				</div>
			</form>
		</div>
	</div>
	<div class="footer"></div>

</body>
</html>
