<script src='/javascript/imagecrop.min.js'></script>
<script src='/javascript/posters.js'></script>

{{?it.method==='PUT'}}
	<h1>Alta de Carteles</h1>
{{??}}
	<h1>Edición de Carteles</h1>
{{?}}

<form id='posters_form' method="{{=it.method}}">
	<input type='hidden' name='_csrf' value='{{=it.csrfToken}}'>
	<input type="hidden" name="picture_type" id="picture_type" />
	<input type="hidden" name="picture_data" id="picture_data" />
	{{?it.method==='POST'}}
		<input type="hidden" name="poster_id" value="{{=it.poster.id}}" />
	{{?}}
	<div class='crudForm'>

		<div name="upload-photo-container" class="upload-photo-container"> 
			<div name="imageBox" class="imageBox">
				<div name="thumbBox" class="thumbBox"></div>
				<div name="spinner" class="spinner" style="display:none">Cargando...</div>
			</div>
			<div class="action clear-fix">
				<div class='errorMsg' id='type_error'></div>
				<span name="upload-btn" class="upload-btn"><span name="upload-label" class="upload-label">Subir foto</span><input type="file" name="picture" accept="image/*" /></span>
				<input type="button" class="crop-btn" name="btnCrop" value="Crop" style="float: right;display:none">
				<input type="button" class="zoom-in-btn" name="btnZoomIn" value="+" style="float: right;display:none">
				<input type="button" class="zoom-out-btn" name="btnZoomOut" value="-" style="float: right;display:none">
			</div>
			<div name="cropped" class="cropped" style="display:none"></div>
		</div>

		<div class='form2Cols'>
			<span class='formItem'> 
				<label>Posición</label> 
				<input type='text' name='position' value="{{=it.poster.position}}"></input>
				<div class='errorMsg' id='position_error'></div>
			</span> 
			<span class='formItem'> 
				<label>Tipo Cartel</label> 
				<input type='radio' name='is_product' value="true" checked="checked">Producto</input>
				<input type='radio' name='is_product' value="false">Categoría</input>
				<div class='errorMsg' id='is_product_error'></div>
			</span> 
			<span class='formItem' name="category" style="display:none"> 
				<select name="category_id">
					{{~ it.categories:category}}
						{{?category.is_visible}}
							<option value="{{=category.id}}">{{=category.name}}</option>
						{{?}}
					{{~}}
				</select>
			</span> 
			<span class='formItem' name="product"> 
				<select name="product_id">
					{{~ it.products:product}}
						<option value="{{=product.id}}">{{=product.name}}</option>
					{{~}}
				</select>
			</span> 
		</div>
	</div>
	<div class='buttons'>
		<input id='submit' type='submit' value='Grabar'></input>
		<input id='cancel' type='reset' value='Cancelar'></input>
	</div>
</form>