<section class="main-content">
	{{?it.is_offer}}
		<div class="main-slider">
			<div class="slider-container">
				<ul class="slider-images">
					<li><a href="#"><img src="{{=it.app_resources}}/images/slide-img.png" alt="slide image"></a></li>
				</ul>
			</div>
			<div class="slider-btn-container">
				<ul class="slider-btns">
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#" class="active-slide">3</a></li>
				</ul>
			</div>
		</div>
	{{?}}
	<div class="main-products">
		{{?it.is_offer}}
			<h2 class="main-title">Ofertas</h2>
		{{??}}
			<h2 class="main-title">Resultado de búsqueda: {{=it.searchinput}}</h2>
		{{?}}
		
		<ul class="main-products-list clear-fix" id="ulproducts">
			{{~ it.offers:offerproduct}}
				<li>
					<a href="/{{=offerproduct.category.url}}/{{=offerproduct.url}}">
						<img class="prodimg" src="/admin/productspictures/{{=offerproduct.id}}">
					</a>
					<h3 class="main-product-title">
						<a href="/{{=offerproduct.category.url}}/{{=offerproduct.url}}">{{=offerproduct.name}}</a>
					</h3>
					<p class="main-product-description">
						<a href="/{{=offerproduct.category.url}}/{{=offerproduct.url}}">Descripción mas larga</a>
					</p>
					<div class="product-prices">
						{{~ offerproduct.productformats:productformat}}
							<p>{{=productformat.retaildescription}} <span class="price-con">${{=productformat.retail}}</span>, {{=productformat.wholesaledescription}}<span class="price-con">${{=productformat.wholesale}}</span></p>
						{{~}}
					</div>
				</li>
			{{~}}		
		</ul>
	</div>
</section>