<div class="middleSection">
	<div class="leftColumn">
		{{~ it.categories:category}}
			<div class="menuBox">
				{{?category.selected}}
					<a href="/">
						<span class="handler open"></span>
					</a>
					<h2><a href="/">{{=category.name}}</a></h2>
					<ul>
						{{~ category.products:product}}
							<li>
									{{?product.selected}}
										<a class='active' href="/{{=category.url}}/{{=product.url}}">{{=product.description}}</a>
									{{??}}
										<a href="/{{=category.url}}/{{=product.url}}">{{=product.description}}</a>
									{{?}}
							</li>
						{{~}}
					</ul>
				{{??}}
					<a href="/{{=category.url}}">
						<span class="handler"></span>
					</a>
					<h2><a href="/{{=category.url}}">{{=category.name}}</a></h2>
				{{?}}	
			</div>
		{{~}}
	</div>

	{{? it.page_to_render === 'category'}}
		{{#def.load('home_category.html')}}
	{{?}}

	{{? it.page_to_render === 'product'}}
		{{#def.load('home_product.html')}}
	{{?}}

	{{? it.page_to_render === 'sales'}}
		{{#def.load('home_sales.html')}}
	{{?}}

</div>