<script src='/javascript/home.js' ></script>
<section class="page-container clear-fix">
	<aside class="main-sidebar">
<!-- 		<section class="advertising-aside"> -->
<!-- 			<img src="{{=it.app_resources}}/images/delivery-van.png" alt=""> -->
<!-- 		</section> -->
		<section class="category-aside">
			<h2 class="aside-title">Categorias</h2>
			<ul class="aside-menu" name="ulcategories">
			
				{{~ it.menu_categories:category}}
					<li name="{{=category.url}}">
						{{?category.selected}}
							<span name="compress" class="compress"></span>
							<a href="/{{=category.url}}" class="aside-active">{{=category.name}}</a>
							<ul class="aside-sub-menu">
								{{~ category.products:product}}
									{{?product.is_visible}}
										<li>
											{{?product.selected}}
												<a class="aside-active" href="/{{=category.url}}/{{=product.url}}">{{=product.name}}</a>
											{{??}}
												<a href="/{{=category.url}}/{{=product.url}}">{{=product.name}}</a>
											{{?}}
										</li>
									{{?}}
								{{~}}
							</ul>
						{{??}}
							<span name="expand" class="expand"></span>
							<a href="/{{=category.url}}">{{=category.name}}</a>
						{{?}}
					</li>
				{{~}}
			</ul>
		</section>
		<section class="descuentos-aside clear-fix">
		
			<h2 class="aside-title">Ofertas</h2>

			{{~ it.limitedoffersproducts:limitedoffersproduct}}
				<div class="discount-container clear-fix">
					<div class="discount-image">
						<a href="/{{=limitedoffersproduct.category.url}}/{{=limitedoffersproduct.url}}">
							<img src="/images/productspictures/{{=limitedoffersproduct.id}}" class="discount-small">
						</a>
					</div>
					<div class="discount-details">
						<ul name="uloffers">
							<li class="item-name">
								<a href="/{{=limitedoffersproduct.category.url}}/{{=limitedoffersproduct.url}}">{{=limitedoffersproduct.name}}</a>
							</li>
							{{~ limitedoffersproduct.productformats:productformat}}
								<li class="discount-price">{{=productformat.retaildescription}} ${{=productformat.retail}}</li>
							{{~}}
						</ul>
					</div>
				</div>
			{{~}}		
			<ul name="ulalloffers">
				<li>
					<p><a id="alloffers" href="/?posters=false">&gt;&gt; Todas las ofertas</a></p>
				</li>
			</ul>
		</section>
		<section class="contactar-aside">
			<h2 class="aside-title">Contactar</h2>
			<div class="contact-details">
				<ul>
					<li class="aside-tel"><a href="#">11 4282 9358</a></li>
					<li class="aside-email"><a href="#">E-Mail</a></li>
				</ul>
			</div>
			<div class="payment-logos">
				<a href="#"><img src="{{=it.app_resources}}/images/payment-options.png" alt="an image of payment options"></a>
			</div>
		</section>
		<section class="infomacion-aside">
			<h2 class="aside-title">Informacion</h2>
			<ul class="aside-menu">
				<li><a href="#">Envios y Devoluciones</a></li>
				<li><a href="#">Quienes somos</a></li>
				<li><a href="#">Aviso legal</a></li>
				<li><a href="#">Condiciones generales</a></li>
				<li><a href="#">Formas de pago</a></li>
				<li><a href="#">Proteccion de datos</a></li>
				<li><a href="#">Politica de cookies</a></li>
				<li><a href="#">Preguntas Frecuentes</a></li>
			</ul>
		</section>
	</aside>

	{{? it.page_to_render === 'category'}}
		{{#def.load('home_category.html')}}
	{{?}}

	{{? it.page_to_render === 'product'}}
		{{#def.load('home_product.html')}}
	{{?}}

	{{? it.page_to_render === 'offers'}}
		{{#def.load('home_offers.html')}}
	{{?}}

	{{? it.page_to_render === 'search'}}
		{{#def.load('home_search.html')}}
	{{?}}
</section>