<script src='{{=it.app_resources}}/javascript/jquery.anoslide.js'></script>
<script src='{{=it.app_resources}}/javascript/offers.js'></script>
<script src='{{=it.app_resources}}/javascript/categories.js'></script>
<section class="main-content">
	{{?it.posters}}
		<div class="main-slider">
			<div class="slider-container">
				<ul class="slider-images">
					{{~ it.posters:poster}}
						<li>
							<a href="{{=poster.url}}" name="slider-{{=poster.id}}">
								<img src="/images/posters/picture/{{=poster.id}}" class="slider-img">
							</a>
						</li>
					{{~}}
				</ul>
			</div>
			<div class="slider-btn-container">
				<ul class="slider-btns">
					{{~ it.posters:poster}}
						<li>
							<a href="{{=poster.url}}">1</a>
						</li>
					{{~}}
				</ul>
			</div>
		</div>
	{{?}}
	<div class="main-products">
		<h2 class="main-title">Ofertas</h2>
		<ul class="main-products-list clear-fix" id="ulproducts">
			{{~ it.offersproducts:offersproduct}}
				<li>
					<a href="/{{=offersproduct.category.url}}/{{=offersproduct.url}}">
						<img class="prodimg" src="/images/productspictures/{{=offersproduct.id}}" alt="{{=offersproduct.name}}">
					</a>
					<h3 class="main-product-title">
						<a href="/{{=offersproduct.category.url}}/{{=offersproduct.url}}">{{=offersproduct.name}}</a>
					</h3>
					<p class="main-product-description">
						<a href="/{{=offersproduct.category.url}}/{{=offersproduct.url}}">{{=offersproduct.description}}</a>
					</p>
					<div class="product-prices">
						{{~ offersproduct.productformats:productformat}}
							<p>{{=productformat.retaildescription}}</p>
							{{?productformat.wholesaledescription!==''}}
								<p>{{=productformat.wholesaledescription}}</p>
								<br/>
							{{?}}
						{{~}}
					</div>
				</li>
			{{~}}		
		</ul>
	</div>
</section>