<section class="main-content">

	{{?it.is_logged_in}}
		{{?it.is_admin}}
			<a href="/admin/products/add?categoryid={{=it.currentcategory.id}}">Crear Producto</a>
		{{?}}
	{{?}}	

	<div class="main-products">
		<h2 class="main-title">{{=it.currentcategory.name}}</h2>
		<ul class="main-products-list clear-fix" id="ulproducts">

			{{~ it.currentcategory.products:product}}
				{{?product.is_visible}}
					<li>
						<a href="/{{=it.currentcategory.url}}/{{=product.url}}">
							<img class="prodimg" src="/images/productspictures/{{=product.id}}" alt="{{=product.name}}">
						</a>
						<h3 class="main-product-title">
							<a href="/{{=it.currentcategory.url}}/{{=product.url}}">{{=product.name}}</a>
						</h3>
						<p class="main-product-description">
							<a href="/{{=it.currentcategory.url}}/{{=product.url}}">{{=product.description}}</a>
						</p>
						<div class="product-prices">
							{{~ product.productformats:productformat}}
								<p>{{=productformat.retaildescription}}</p>
								<p>{{=productformat.wholesaledescription}}</p>
								<br/>
							{{~}}
						</div>
					</li>
				{{?}}
			{{~}}
		</ul>
	</div>
</section>