<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Simple login</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" media="screen,projection" />
		<script src="/javascript/jquery.min.js"></script>
		<script src="/javascript/utils.js" ></script>
	</head>

	<body>
		<div>
			<p>header</p>
			{{?it.is_logged_in}}
				<a href="/logout">Salir</a>
			{{??}}
				<p><a href="/registration">Registrarse</a></p>
				<p><a href="/authentication">Ingresar</a></p>
			{{?}}	
		</div>
		{{=it.body}}
		<div>
			<p>footer</p>
		</div>
	</body>
</html>


