<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
		<meta name="description" content="Papelera Ternopel" />
		<meta name="viewport" content="width=device-width"/>
	
		<title>Papelera Ternopel</title>
		
		<link rel="stylesheet" type="text/css" href="{{=it.app_resources}}/css/styles.css" media="screen,projection" />
		<script src="/javascript/jquery.min.js"></script>
		<script src="/javascript/scroll-sneak.js" ></script>
		<script src="/javascript/utils.js" ></script>

		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!--[if IE 7]>
		<link rel="stylesheet" href="css/ie7.css" type="text/css">
		<![endif]-->		

	</head>

	<body>
		<section class="main-wrapper">
			<header class="main-header clear-fix">
				<div class="logo-section">
					<h1 class="logo"><a href="/">Papelera Ternopel</a></h1>
				</div>
				<div class="header-labels">
					<img src="{{=it.app_resources}}/images/tel-tab.png" alt="">
					<img src="{{=it.app_resources}}/images/header-image.png" alt="">
				</div>
				<div class="header-details">
					<ul>
						<li><a href="#">Contacto</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Mapa sitio</a></li>
						{{?it.cart_count===0}}
							<li class="cart-box"><a href="#" class="header-cart">Carrito: <span name="cart_count">Vacío</span></a></li>
						{{??}}
							<li class="cart-box"><a href="#" class="header-cart">Carrito: <span name="cart_count">{{=it.cart_count}}</span></a></li>
						{{?}}	
							
							
							
						{{?it.is_logged_in}}
							<li><a href="#">Bienvenido, {{=it.full_name}} </a><a href="/logout" class="user-logout">Cerrar sesión</a></li>
						{{??}}
							<li><a href="/login" class="user-login">Entra</a></li>
						{{?}}	
					</ul>
				</div>
			</header>
			<section class="error-notification" id='notifications' style='display:none'>
				<p id='general_error'>ERROR MESSAGE - This is a message bar that will display all error messages</p>
			</section>
			<nav class="nav-bar">
				<ul class="main-nav clear-fix">
					{{?it.is_logged_in}}
						{{?it.is_admin}}
							<li><a href="/admin">Administrador</a></li>
							<li><a href="/report" target="_blank">Listado</a></li>
						{{??}}
							<li><a href="/">Inicio</a>
							<li><a href="#">Mi Cuenta</a></li>
							<li><a href="#">Contacto</a></li>
							<li><a href="/?posters=false">Ofertas</a></li>
							<li><a href="#">Carrito</a></li>
							<li class="main-search">
								{{?it.searchinput}}
									<input type="text" class="search-input" name="homesearchinput" value="{{=it.searchinput}}" />
								{{??}}
									<input type="text" class="search-input" name="homesearchinput" />
								{{?}}
								<button name="homesearchbutton" class="search-btn">Search</button>
							</li>
						{{?}}
					{{??}}	
						<li><a href="/">Inicio</a>
						<li><a href="#">Contacto</a></li>
						<li><a href="/?posters=false">Ofertas</a></li>
						<li><a href="#">Carrito</a></li>
						<li class="main-search">
							{{?it.searchinput}}
								<input type="text" class="search-input" name="homesearchinput" value="{{=it.searchinput}}" />
							{{??}}
								<input type="text" class="search-input" name="homesearchinput" />
							{{?}}
							<button name="homesearchbutton" class="search-btn">Search</button>
						</li>
					{{?}}					
				</ul>
			</nav>
			{{=it.body}}
			<footer class="main-footer">
				{{?!it.is_logged_in}}
					<section class="footer-subscribe clear-fix">
						<p>Subscribe a nuestras novedades y ofertas</p>
						<div class="subscribe-form">
						
							<form id="mailing_form" method="post" action="/mailing">
								<input type='hidden' name='_csrf' value='{{=it.csrfToken}}'>
								<div class="subscribe-input clear-fix">
									<span class="form-error" id="email_address_error"></span>
									<input type="text" name="email_address">
									<button class="subscribe-btn" name="mailingbutton">Enviar</button>
								</div>
								<div class="subscribe-checkbox">
									<span class="form-error" id="mailing_read_privacy_error"></span>
									<input type="checkbox" name="mailing_read_privacy"><span>He leido y estoy conforme con la <a href="/privacy/datapolicy">Política de protección de Datos</a></span>
								</div>
							</form>
						</div>
					</section>
				{{?}}
				<section class="footer-columns clear-fix">
					<div class="footer-links">
						<h4>Categorias</h4>
						<ul>
							{{~ it.categories:category}}
								<li><a href="/{{=category.url}}">{{=category.name}}</a></li>
							{{~}}
						</ul>
					</div>
					<div class="footer-links">
						<h4>Informacion</h4>
						<ul>
							<li><a href="#">Contacte con nostros</a></li>
							<li><a href="#">Envíos y Devoluciones</a></li>
							<li><a href="#">Quienes somos</a></li>
							<li><a href="#">Aviso legal</a></li>
							<li><a href="#">Condiciones generales</a></li>
							<li><a href="#">Formas de pago</a></li>
							<li><a href="/privacy/datapolicy">Protección de datos</a></li>
							<li><a href="/privacy/datapolicy">Política de Cookies</a></li>
							<li><a href="/?posters=false">Ofertas</a></li>
							<li><a href="#">Preguntas Frecuentes</a></li>
							<li><a href="#">Mapa del sitito</a></li>
						</ul>
					</div>
					{{?it.is_logged_in}}
						<div class="footer-links">
							<h4>Mi Cuenta</h4>
							<ul>
								<li><a href="#">Mis pedidos</a></li>
								<li><a href="#">Mis vales descuento</a></li>
								<li><a href="#">Mis direcciones</a></li>
								<li><a href="#">Mis datos presonales</a></li>
							</ul>
						</div>
					{{?}}
					<div class="footer-links">
						<h4>Contacte Con Nosotros</h4>
						<ul>
							<li><a href="/">www.papeleraternopel.com</a></li>
							<li><a href="/">Tel: + 54 9 11 4282 9358</a></li>
							<li><a href="/">Email: info@ternopel.com</a></li>
						</ul>
					</div>
					<div class="footer-links">
						<h4>Siguenos</h4>
						<ul class="social-links">
							<li><a href="https://www.facebook.com/papeleraternopel">
									<img src="{{=it.app_resources}}/images/fb-icon.png">
								</a>
							</li>
							<li><a href="#"><img src="{{=it.app_resources}}/images/twitter-icon.png"></a></li>
						</ul>
					</div>
				</section>
			</footer>
		</section>
	</body>
</html>


