<script src='/javascript/hideShowPassword.min.js' ></script>
<script src='/javascript/registration.js' ></script>

<section class="page-container clear-fix">
	<section class="authentication-section">
		<div class="authentication-forms clear-fix">
			<h2 class="main-title">Autentificación</h2>
			<div class="new-customer">
				<h3 class="form-header">Registro Nuevo Cliente</h3>
				<p>Escriba su correo electrónico para crear su cuenta</p>
				<form id="registration_form" method="post" action="/registration">
					<input type='hidden' name='_csrf' value='{{=it.csrfToken}}'>
					
					<label>Correo Electronico<span class="form-error" id="regis_email_address_error"></span></label>
					<input type="text" class="customer-email" name="regis_email_address">
					
					<button type="button" class="form-btn" name="registration">Registro Nuevo Cliente</button>
				</form>
			</div>
			<div class="returning-customer">
				<h3 class="form-header">Ya Soy Cliente</h3>
				<form id='login_form' method="post" action="/login">
					<input type='hidden' name='_csrf' value='{{=it.csrfToken}}'>
				
					<label>Correo Electronico<span class="form-error" id="email_address_error"></span></label>
					<input type="text" class="customer-email" name="email_address">

					<label>Contraseña<span class="form-error" id='password_error'></span></label>
					<input type="password" class="customer-password" name="password">

					<a href="#" class="forgot-password">Ha olvidado su contraseña?</a>
					<button type="submit" class="form-btn" name="login">Autentificación</button>
				</form>
			</div>
		</div>
	</section>
</section>


