<script src='{{=it.app_resources}}/javascript/hideShowPassword.min.js' ></script>
<script src='{{=it.app_resources}}/javascript/registration.js' ></script>

<!-- Google Code for Registracion Conversion Page -->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 941936957;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "13S_CIbh52UQvaKTwQM";
	var google_remarketing_only = false;
	/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/941936957/?label=13S_CIbh52UQvaKTwQM&amp;guid=ON&amp;script=0"/>
	</div>
</noscript>

<section class="page-container clear-fix">
	<section class="authentication-section">
		<div class="authentication-forms clear-fix">
			<h2 class="main-title">Registración</h2>
			<div class="new-customer">
				<h3 class="form-header">Complete sus datos</h3>
				<form id='confirm_form' method="post" action="/confirm">
					<input type='hidden' name='_csrf' value='{{=it.csrfToken}}'>
				
					<label>Correo Electrónico<span class="form-error" id="email_address_error"></span></label>
					<input type="text" class="customer-email" name="email_address" value="{{=it.email_address}}" readonly="readonly">

					<label>Apellido<span class="form-error" id='last_name_error'></span></label>
					<input type="text" class="customer-email" name="last_name">

					<label>Nombre<span class="form-error" id='first_name_error'></span></label>
					<input type="text" class="customer-email" name="first_name">

					<label>Contraseña<span class="form-error" id='password_error'></span></label>
					<input type="password" class="customer-password" name="password">

					<button type="submit" class="form-btn" name="confirm">Registración</button>
				</form>
			</div>
		</div>
	</section>
</section>


