<script src='{{=it.app_resources}}/javascript/hideShowPassword.min.js'></script>
<script src='{{=it.app_resources}}/javascript/crud.js'></script>
<script src='{{=it.app_resources}}/javascript/shoppingcart.js'></script>
<section class="page-container clear-fix">


	<h2 class="main-title">Compra Rápida</h2>
	<p>Completa los siguientes campos para realizar tu pedido</p>
	<section class="cart-container clear-fix">
		<div class="cart-header">
			<ul class="cart-header-list">
				<li class="data-title">
					Sus datos
					{{?!it.is_logged_in}}
						<a href="#" id="a_already_registered">Ya está registrado ?</a>
						<a href="#" id="a_register" hidden="hidden">Regístrese !</a>
					{{?}}
				</li>
				<li class="shipping-title">Método de Envío</li>
				<li class="payment-title">Método de Pago</li>
			</ul>
		</div>
		<div class="data-content clear-fix">
			{{?!it.is_logged_in}}
				<form id="form_not_registered" >
					<label>Correo Electrónico<span class='form-error' id='email_address_error'></span></label>
					<input type="email" class="cart-email" name='email_address'>
					
					<label>Contraseña<span class="form-error" id='password_error'></span></label>
					<input type="password" class="customer-password" name="password" >

					<label>Nombre<span class="form-error" id='first_name_error'></span></label>
					<input type="text" class="first-name" name="first_name">

					<label>Apellido<span class="form-error" id='last_name_error'></span></label>
					<input type="text" class="last-name" name="last_name">
					
					<input type='hidden' name='already_registered' value='false'>
				</form>
				<form id="form_registered" hidden="true">
					<label>Correo Electrónico<span class='form-error' id='email_address_error'></span></label>
					<input type="email" class="cart-email" name='email_address'>
					
					<label>Contraseña<span class="form-error" id='password_error'></span></label>
					<input type="password" class="customer-password" name="password">
					
					<input type='hidden' name='already_registered' value='true'>
				</form>
			{{??}}
					<label>Correo Electrónico</label>
					<input type="email" class="cart-email" readonly="readonly" value="{{=it.email_address}}">
					
					<label>Nombre</label>
					<input type="text" class="first-name" value="{{=it.first_name}}">

					<label>Apellido</label>
					<input type="text" class="last-name" value="{{=it.last_name}}">
			{{?}}
			<div class="address-content">
				<a href="#"class="shipping-tab active-tab">Dirección de envío</a>
				<form class="clear-fix" id="address_info">
					<input type='hidden' name='_csrf' value='{{=it.csrfToken}}'>
					<label>Dirección<span class="form-error"></span></label>
					<input type="text" class="" name="address">
					<label>Ciudad<span class="form-error"></span></label>
					<input type="text" class="" name="city">
					<label>Teléfono<span class="form-error"></span></label>
					<input type="tel" class="" name="telephone">
					<label>Código Postal<span class="form-error"></span></label>
					<input type="text" class="" name="zipcode">
					<label class="address-select address-select-right">Provincia
						<select name="state">
							<option value="1">Ciudad Autónoma de Buenos Aires</option>
							<option value="2">Buenos Aires</option>
							<option value="3">Catamarca</option>
							<option value="4">Chaco</option> 
							<option value="5">Chubut</option> 
							<option value="6">Córdoba</option> 
							<option value="7">Corrientes</option> 
							<option value="8">Entre Ríos</option> 
							<option value="9">Formosa</option> 
							<option value="10">Jujuy</option> 
							<option value="11">La Pampa</option> 
							<option value="12">La Rioja</option> 
							<option value="13">Mendoza</option> 
							<option value="14">Misiones</option> 
							<option value="15">Neuquén</option> 
							<option value="16">Río Negro</option> 
							<option value="17">Salta</option> 
							<option value="18">San Juan</option> 
							<option value="19">San Luis</option> 
							<option value="20">Santa Cruz</option> 
							<option value="21">Santa Fe</option> 
							<option value="22">Santiago del Estero</option> 
							<option value="23">Tierra del Fuego, Antártida e Islas del Atlántico Sur</option>
							<option value="24">Tucumán</option>
						</select>
					</label>
				</form>
			</div>
		</div>
		<div class="delivery-payment-content clear-fix">
			<form id="delivery_info">
				<div class="delivery-section">
					<ul class="delivery-options">
						<li class="clear-fix">
							<input type="radio" name="delivery_type" checked="checked" value="1">
							<p><strong>RETIRO CLIENTE</strong><span>Entrega en 72h máximo</span></p>
							<p><strong>GRATIS!</strong></p>
						</li>
					</ul>
					<ul class="delivery-options">
						<li class="clear-fix">
							<input type="radio" name="delivery_type" value="2">
							<p><strong>ENTREGA EN CABA</strong><span>Entrega en 72h máximo</span></p>
							<p><strong>GRATIS!</strong></p>
						</li>
					</ul>
					<ul class="delivery-options">
						<li class="clear-fix">
							<input type="radio" name="delivery_type" value="3">
							<p><strong>ENCOMIENDA</strong><span>Entrega en 72h máximo</span></p>
							<p><strong></strong></p>
						</li>
					</ul>
				</div>
				<div class="payment-section">
					<ul class="payment-options">
						<li class="clear-fix">
							<input type="radio" name="payment_type" checked="checked" value="1">
							<p><strong>Pago contrareembolso</strong></p>
							<p>Usted paga la mercancía en el momento de la entrega, coste adicional: 7.11€</p>
						</li>
						<li class="clear-fix">
							<input type="radio" name="payment_type" value="2">
							<p><strong>Pago por transferencia bancaria</strong></p>
							<p>Recibirá el número de cuenta tras finalizar el pedido</p>
						</li>
						<li class="clear-fix">
							<input type="radio" name="payment_type" value="3">
							<p><strong>Pago seguro con tarjeta</strong></p>
						</li>
					</ul>
				</div>
			</form>
			<div class="summary-section">
				<h3>Resumen de Pedido</h3>
				<table class="summary-table">
					<thead>
						<tr>
							<th></th>
							<th>Descripción</th>
							<th>Precio unitario</th>
							<th>Cantidad</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						{{~ it.shoppingcart:element}}
							<tr id="shopping_cart_id_{{=element.id}}">
								<td><img src="/images/products/{{=element.product.id}}.jpg" alt="{{=element.product.name}}"></td>
								<td><a href="/{{=element.category.url}}/{{=element.product.url}}">{{=element.product.name}} en {{=element.productformat.retaildescription}}</a></td>
								<td>$ {{=element.productformat.retail}}</td>
								<td>
									<input type="text" class="summary-amount" value="{{=element.quantity}}" alt="{{=element.productformat.id}}" name="quantity_{{=element.productformat.id}}"/>
									<a href="#" name="remove-shopping-cart" alt="{{=element.id}}">
										<img src="{{=it.app_resources}}/images/cart-remove-icon.png" alt="trash can icon">
									</a>
								</td>
								<td>$ <span name="price_{{=element.productformat.id}}" alt="price_{{=element.id}}">{{=element.totalitem}}</span></td>
							</tr>						
						{{~}}
						<tr class="summary-totals">
							<td colspan="4">Importe Total De Su Compra :</td>
							<td><b>$ <span name="total">{{=it.totalcart}}</span></b></td>
						</tr>
					</tbody>
				</table>
				<div>
					<p>Si desea dejarnos un comentario a cerca de su pedido, por favor indiquelo a continuación:</p>
					<textarea class="cart-textarea"></textarea>
					<label class="form-check"><input type="checkbox">Acepto las condiciones generales de venta y política de privacidad.</label>
				</div>
				<div class="summary-btn-container clear-fix">
					<button class="cart-continue-btn">Continuar Comprando</button>
					<button class="cart-confirm-btn" name="execute_purchase">Confirmar Pedido</button>
				</div>
			</div>
		</div>
			
	</section>
		



</section>