<script src='/javascript/crud.js'></script>
<section class="page-container clear-fix">


	<h2 class="main-title">Compra Rapida</h2>
	<p>Completa los siguientes campos para realizar tu pedido</p>
	<section class="cart-container clear-fix">
		<div class="cart-header">
			<ul class="cart-header-list">
				<li class="data-title">Sus datos<a href="#">Ya esta registrado?</a></li>
				<li class="shipping-title">Metodo de Envio</li>
				<li class="payment-title">Metodo de Pago</li>
			</ul>
		</div>
		<div class="data-content clear-fix">
			<form>
				<label>Nombre*<span class="form-error">Required</span></label>
				<input type="text" class="first-name" name="">
				<label>Apellidos*<span class="form-error">Required</span></label>
				<input type="text" class="last-name" name="">
				<label>Correo Electronico*<span class="form-error">Required</span></label>
				<input type="email" class="cart-email" name="">
				<label>Confirmar Email*<span class="form-error">Required</span></label>
				<input type="email" class="cart-confirm-email" name="">
				<label class="cart-check"><input type="checkbox" class="form-check">Quiero personalizar Mi Contrasena</label>
			</form>
			<div class="address-content">
				<a href="#"class="shipping-tab active-tab">Direccion de envio</a>
				<a href="#" class="billing-tab">Direccion de facturacion</a>
				<form class="clear-fix">
					<label>DNI/NIF/NIE (sin espacios ni guiones)**<span class="form-error">Required</span></label>
					<input type="text" class="" name="">
					<label>Empresa</label>
					<input type="text" class="" name="">
					<label>Direccion*<span class="form-error">Required</span></label>
					<input type="text" class="" name="">
					<label class="address-select">Pais*
						<select>
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
							<option>Option 4</option>
						</select>
					</label>
					<label class="address-select address-select-right">Provincia*
						<select>
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
							<option>Option 4</option>
						</select>
					</label>
					<label>Codigo Postal*<span class="form-error">Required</span></label>
					<input type="text" class="" name="">
					<label>Ciudad*<span class="form-error">Required</span></label>
					<input type="text" class="" name="">
					<label>Telefono*<span class="form-error">Required</span></label>
					<input type="tel" class="" name="">
				</form>
			</div>
		</div>
		<div class="delivery-payment-content clear-fix">
			<div class="delivery-section">
				<ul class="delivery-options">
					<li class="clear-fix">
						<input type="radio">
						<p><strong>MRW / DHL</strong><span>Entrega en 24/72h</span></p>
						<p><strong>GRATIS!</strong></p>
					</li>
				</ul>
			</div>
			<div class="payment-section">
				<ul class="payment-options">
					<li class="clear-fix">
						<input type="radio">
						<p><strong>Pago por transferencia bancaria</strong></p>
						<p>Recibira el numero de cuenta tras finalizar el pedido</p>
					</li>
					<li class="clear-fix">
						<input type="radio">
						<p><strong>Pago seguro con terjeta</strong></p>
					</li>
					<li class="clear-fix">
						<input type="radio">
						<p><strong>Pago contrareembolso</strong></p>
						<p>Usted paga la mercancia en el momento de la entrege, coste adicional: 7.11€</p>
					</li>
				</ul>
			</div>
			<div class="summary-section">
				<h3>Resumen de Pedidio</h3>
				<table class="summary-table">
					<thead>
						<tr>
							<th></th>
							<th>Description</th>
							<th>Precio unitario</th>
							<th>Cant</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img src="images/cart-product-img.png" alt="image of product"></td>
							<td><a href="#">Cucharas Catering Degustacion Arco Transparente</a></td>
							<td>116,60 €</td>
							<td><input type="text" class="summary-amount"><a href="#"><img src="images/cart-remove-icon.png" alt="trash can icon"></a></td>
							<td>116,60 €</td>
						</tr>
						<tr>
							<td><img src="images/cart-product-img.png" alt="image of product"></td>
							<td><a href="#">Cucharas Catering Degustacion Arco Transparente</a></td>
							<td>116,60 €</td>
							<td><input type="text" class="summary-amount"><a href="#"><img src="images/cart-remove-icon.png" alt="trash can icon"></a></td>
							<td>116,60 €</td>
						</tr>
						<tr class="summary-totals">
							<td colspan="4">Total productos (IVA incl.) :</td>
							<td>116,60 €</td>
						</tr>
						<tr class="summary-totals">
							<td colspan="4">Total envio :</td>
							<td>Envio Gratis</td>
						</tr>
						<tr class="summary-totals">
							<td colspan="4">Total (IVA excl.) :</td>
							<td>116,60 €</td>
						</tr>
						<tr class="summary-totals">
							<td colspan="4">Total IVA :</td>
							<td>23,20 €</td>
						</tr>
						<tr class="summary-totals">
							<td colspan="4">Importe Total De Su Compra :</td>
							<td>116,60 €</td>
						</tr>
					</tbody>
				</table>
				<div>
					<p>Si desea dejarnos un comentario a cerca de su pedido, por favor indicalo a continuacion:</p>
					<textarea class="cart-textarea"></textarea>
					<label class="form-check"><input type="checkbox">Acepto las condiciones generales de venta y politica de privacidad.</label>
				</div>
				<div class="summary-btn-container clear-fix">
					<button class="cart-continue-btn">Continuar Comprando</button>
					<button class="cart-confirm-btn">Confirmar Pedidio</button>
				</div>
			</div>
		</div>
			
	</section>
		



</section>